<div class='col-xs-12 text-center'>
	<button class="pull-right col-md-1 col-xs-2 btn btn-success" data-toggle="modal" data-target="#myModal">New</button>
	<div class="text-center">
		<h2><b>Main Naviation</b></h2>
	</div>
	<form>
		<input type="text" name="q" placeholder="Search Anything">
	</form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel"><b>Add a User</b></h4>
			<i>Satisfied?</i> Click Submit!
		</div>
		<form name="myForm">
		<div class="modal-body" ng-controller="Ctrl">
			<div class="row">
					<input class="sm-top-buffer form-control" type="text" ng-model="user.firstName" name="userName" placeholder="John" required>
					<input class="sm-top-buffer form-control" type="text" ng-model="user.lastName" name="lastName" placeholder="Appleseed" required>
					<input class="sm-top-buffer form-control" type="text" ng-model="user.phone" name="phone" placeholder="519-XXX-XXXX" required>
					<input class="sm-top-buffer form-control" type="email" ng-model="user.email" name="email" placeholder="john@example.com" required>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class='btn btn-danger' ng-click="drink=randomize()">Save</button>
		</div>
		</form>
    </div>
  </div>
</div>

<script>
	$(document.body).on('click', '.randomize', function() {
		$('.randomize').hide();
		$('.details').fadeIn('slow');
		$('.respin').fadeIn('slow');
	});
</script>