<div class='col-xs-12'><h4>
	This website done using the Node, Express and Angular, if you would like to see how it was done, you can fork us on 
	<b><a class='no-underline' href='https://github.com/Tang8330/makeadrink'>GitHub</a></b>
</h4>
</div>
<div class='col-xs-12'>
	There are many components in making each drink, when you click randomize, 
	it will generate a drink recipe courtesy of IBA. (International Bartender's Association).
</div>
<div class='col-xs-12 top-buffer'>
	<i>If you have any questions you can send me a <a class='no-underline' <a href="https://twitter.com/intent/tweet?screen_name=tang8330" class="twitter-hashtag-button">tweet</a></i>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
